<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
        <router-link class="navbar-brand" to="/">Pets</router-link>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link" to="/"
                        >Питомцы</span></router-link
                    >
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/breeds">Породы</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/foods">Корм</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/feed-limits">Ограничения</router-link>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-view></router-view>
    </div>
</div>
